<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 	   xmlns:p="http://www.springframework.org/schema/p"
 	   xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
	">

	<!-- 开启spring注解扫描 -->
	<context:annotation-config />
	<context:component-scan base-package="com.unisure" />

	<!-- 使用apache DBCP数据源配置 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql:///test?useUnicode=true&amp;characterEncoding=utf8" />
		<property name="username" value="root" />
		<property name="password" value="ready" />
		<property name="maxActive" value="100" />
		<property name="maxWait" value="5000" />
		<property name="maxIdle" value="10" />
		<property name="minIdle" value="2" />
	</bean>

	<!-- JDBC核心执行类 -->
	<bean id="jdbcCommand" class="easymapping.jdbc.JdbcCommand">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- Spring辅助工具类，用于在任何地方随时获取Spring管理的bean对象 -->
	<bean id="springUtil" class="easymapping.util.SpringUtil" />

	<!-- 数据分页适配器，用于不同数据库进行统一的数据分页调用 -->
	<bean id="pageAdapter" class="easymapping.jdbc.adapter.MySQLPageAdapter">
		<property name="jdbcCommand" ref="jdbcCommand" />
	</bean>

	<!-- 数据访问层处理器 -->
	<bean id="beanProcessor" class="easymapping.jdbc.BeanProcessor">
		<property name="pageAdapter" ref="pageAdapter" />
		<property name="jdbcCommand" ref="jdbcCommand" />
	</bean>
	
	<!-- 
	<bean id="extendSQLFilters" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="DT" value="com.unisure.util.DT" />
			</map>
		</constructor-arg>
	</bean>
	 -->
</beans>